#piano-roll {
	padding-top: 10px;
	padding-bottom: 12px;
}

#piano-roll > div {
	margin-bottom: -1px;
	height: 22px;
	position: relative;
	margin-left: 100px;
}
#piano-roll > div.gap {
	background-color: #CCC;
}

	#piano-roll > div span.key {
		display: block;
		position: absolute;
		width: 98px;
		border: 1px #CCC solid;
		height: 41px;
		left: -100px;
		top: -10px;
		background-color: white;

		z-index: 100;
	}
		#piano-roll > div.sharp span.key {
			background-color: black;
			width: 65px;
			height: 25px;
			top: -2.5px;

			z-index: 200;
		}
	#piano-roll > div span.step {
		display: block;
		float: left;
		color: #777;
		border: 1px #999 solid;
		width: 40px;
		height: 18px;
		
	}
		#piano-roll > div span.step.on {
			background-color: #070;
		}
	