
body,html{
  margin: 0;
  padding: 0;
  background: #222;
  height: 0;
  overflow: hidden;
}

body{
  font: 0.8em normal helvetica, sans-serif;
}

#header{
  background: -moz-linear-gradient(-90deg, #444, #333);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid #999;
}


#header h1{
  padding: 20px 30px;
  margin: 0;
  line-height: 50px;
  color: #eee;
  text-shadow: 1px 1px 2px black;
  font-family: 'corbel', sans-serif;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: -1px;
}

#header h1 img{
  position: relative;
  height: 20px;
  top: 1px;
  left: 2px;
}



#main{
  position: absolute;
  top: 80px;
  left: 0;
  width: 30000px;
  height: 1000px;
  background: #aaa;
}

#piano-roll {
	padding-top: 10px;
	padding-bottom: 12px;
}

#piano-roll > div {
	margin-bottom: -1px;
	height: 22px;
	position: relative;
	margin-left: 100px;
}
#piano-roll > div.gap {
  border-top: 1px solid #888;
}

	#piano-roll > div span.key {
		display: block;
		position: absolute;
		width: 130px;
		height: 41px;
		left: -100px;
		top: -10px;
		border: 1px solid #555;
		z-index: 100;
		background: #eee;

		-moz-box-shadow: 5px 2px 5px rgba(0,0,0,0.2);
		-moz-border-radius: 1px;

	}
	
		#piano-roll > div.sharp span.key {
			background-color: black;
			width: 65px;
			height: 20px;
			top: -1px;

  		background-color: #222;
  		border-top: 3px solid #333;
  		border-right: 3px solid #000;
  		border-bottom: 3px solid #000;

  		-moz-box-shadow: none;
  		-moz-border-radius: 2px;

			z-index: 200;
		}
	#piano-roll > div span.step {
		display: block;
		float: left;
		border-left: 1px #888 solid;
		border-top: 1px #888 solid;
		width: 40px;
		height: 20px;
		cursor: pointer;
		-moz-user-select: none;
	}
		#piano-roll > div span.step.on {
			background-color: #333;
			border-color: #222;
			-moz-border-radius: 2px;
			border: none;
			height: 21px;
			width: 41px;
		}
	
	
  #footer{
    background: -moz-linear-gradient(-90deg, #333, #444);
    border-top: 1px solid #777;
    -moz-box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    height: 1000;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
  }

	
	.volume-control{
	  position: absolute;
	  left: 300px;
	  top: 10px;
	  border: 1px solid #222;
	  background: #333;
	  padding: 5px;
	  -moz-border-radius: 3px;
	  -moz-box-shadow: -1px -1px 3px #555;
	  width: 500px;
	  height: 40px;
	}
	
	.volume-control p{
	  width: 120px;
	  line-height: 20px;
	  text-align: center;
	  font-weight: bold;
	  color: #111;
	  text-shadow: 0 -1px 0 rgba(255,255,255,0.2);
	}
	#volume{
	  width: 200px;
	  position: absolute;
	  left: 150px;
	  top: 20px;
	}